SECRET_KEY=paste-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=setup
DB_USER=root
DB_PASSWORD=1234

REDIS_URL=redis://127.0.0.1:6379/0

EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_HOST_USER=your_user
EMAIL_HOST_PASSWORD=your_password
DEFAULT_FROM_EMAIL=noreply@unireserve.edu

FRONTEND_URL=http://localhost:5173

JWT_ACCESS_TOKEN_LIFETIME_MINUTES=15
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
